{% extends "base.html" %}
{% load static %}

{% block title %}Inicio{% endblock %}

{% block content %}
<div class="w-full">
  <div class="swiper w-full h-screen">
    <div class="swiper-wrapper">
      <div class="swiper-slide relative">
        <img src="{% static 'images/7546.jpg' %}" class="w-full h-full object-cover" alt="Masajes">
        <div
          class="text-white px-6 py-3 text-3xl font-semibold rounded absolute inset-0 flex items-center justify-center">
          Bienvenido al SPA Sentirse Bien
        </div>
      </div>
      <div class="swiper-slide relative">
        <img src="{% static 'images/otherimage.jpg' %}" class="w-full h-full object-cover" alt="Faciales">
        <div
          class="bg-black/25 text-white px-6 py-3 text-3xl font-semibold rounded absolute inset-0 flex items-center justify-center">
          Bienvenidos a Spa Sentirse Bien
        </div>
      </div>
      <div class="swiper-slide relative">
        <img src="{% static 'images/7546.jpg' %}" class="w-full h-full object-cover" alt="Spa">
        <div
          class="text-white px-6 py-3 text-3xl font-semibold rounded absolute inset-0 flex items-center justify-center">
          Bienvenido al SPA Sentirse Bien
        </div>
      </div>
    </div>

    <div class="swiper-pagination"></div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
  </div>
</div>

<div class="w-full flex items-center bg-green-100/100 h-full">
  <section class="w-1/2 h-1/2">
    <article>
      <p class="text-4xl">Tu bienestar <span>Nuestra prioridad</span></p>
    </article>
    <p>Experimente la tranquilidad en el sereno ambiente de nuestro spa. Nuestros terapeutas expertos ofrecen
      tratamientos rejuvenecedores diseñados para restaurar el equilibrio de cuerpo y mente.</p>
    <article>
      <button class="rounded-xl shadow-md outline outline-black/5 h-10 w-40">Reservar ahora</button>
      <button class="rounded-xl shadow-md outline outline-black/5 h-10 w-40">Explorar servicios</button>
    </article>
  </section>

  <section class="w-1/2 h-9/10">
    <img src="{% static '/images/side.jpg' %}" alt="image side spa" class="object-cover">
  </section>
</div>



{% if user.is_authenticated %}
<p class="text-gray-700 text-center">Podés reservar tu cita o consultar tus servicios disponibles.</p>
{% else %}
<p class="text-gray-700 text-center">Iniciá sesión o registrate para pedir un turno en línea.</p>
{% endif %}
{% endblock %}